[Unit]
Description=Fetch15 influxdb logger
After=network-online.target influxdb.service
Wants=network-online.target influxdb.service

[Service]
User=applications
Group=applications
ExecStart=/bin/bash -c "source /home/applications/ros/melodic/devel/setup.bash && rossetip && rossetmaster fetch15 && rosrun jsk_tools roscore_regardless.py --respawn roslaunch influxdb_store fetch_influxdb_logger.launch database:=fetcht15"

[Install]
WantedBy=multi-user.target
